{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

dockutil --remove all
dockutil --add "/System/Volumes/Preboot/Cryptexes/App/System/Applications/Safari.app"
dockutil --add "/Applications/Ghostty.app"
dockutil --add "/Applications/Visual Studio Code.app"
dockutil --add "/Applications/Telegram.app"
dockutil --add "/Applications/Discord.app"
dockutil --add "/System/Applications/Notes.app"
dockutil --add "/System/Applications/Music.app"
dockutil --add "/System/Applications/Calendar.app"
dockutil --add "/System/Applications/Passwords.app"
dockutil --add "/System/Applications/System Settings.app"

{{ end -}}