{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

defaults write NSGlobalDomain com.apple.mouse.scaling -float "2"

defaults write NSGlobalDomain NSAutomaticCapitalizationEnabled -bool false
defaults write NSGlobalDomain NSAutomaticDashSubstitutionEnabled -bool false
defaults write NSGlobalDomain NSAutomaticPeriodSubstitutionEnabled -bool false
defaults write NSGlobalDomain NSAutomaticQuoteSubstitutionEnabled -bool false
defaults write NSGlobalDomain NSAutomaticSpellingCorrectionEnabled -bool false

dockutil --remove all
dockutil --add "/System/Volumes/Preboot/Cryptexes/App/System/Applications/Safari.app"
dockutil --add "/Applications/Ghostty.app"
dockutil --add "/Applications/Visual Studio Code.app"
dockutil --add "/Applications/Telegram.app"
dockutil --add "/Applications/Discord.app"
dockutil --add "/System/Applications/Notes.app"
dockutil --add "/System/Applications/Music.app"
dockutil --add "/System/Applications/Calendar.app"
dockutil --add "/System/Applications/Passwords.app"
dockutil --add "/System/Applications/System Settings.app"

defaults write com.apple.dock "autohide" -bool "true"
defaults write com.apple.dock "autohide-delay" -float "0"
defaults write com.apple.dock "autohide-time-modifier" -float "0.2"
defaults write com.apple.dock "show-recents" -bool "false"
defaults write com.apple.dock "tilesize" -int "52"

killall Dock

defaults write com.apple.finder "AppleShowAllFiles" -bool "true"
defaults write com.apple.finder "ShowPathbar" -bool "true"
defaults write com.apple.finder "_FXSortFoldersFirst" -bool "true"
defaults write com.apple.finder "FXEnableExtensionChangeWarning" -bool "false"

killall Finder
{{ end -}}